<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_offer</i>
            </div>
            <h4 class="card-title">Achat 
              <small class="description">Ref-{{ loadedSell._id}}</small>
            </h4>
          </div>
          <div class="card-body">
            <div class="card card-product">
              <div class="card-body">
                <mat-label>Nom du cours</mat-label>
                <div class="card-description">{{ loadedSell.course.name}}</div>
                <mat-label>Description du cours</mat-label>
                <div class="card-description">{{ loadedSell.course.description}}</div>
                <mat-label>Prix</mat-label>
                <div class="card-description">${{ loadedSell.course.price }}</div>
              </div>
              <div class="card-footer">
                <mat-label>Etudiant achteur
                </mat-label>
                <div class="stats" >
                  <p class="card-category">
                    <span matTooltip="UserName"><i class="material-icons">person</i> {{ loadedSell.student.userName }}</span>
                    <span matTooltip="Email étudiant"><i class="material-icons">email</i> {{ loadedSell.student.email }}</span>
                  </p>
                </div>
              </div>
              <div class="card-footer">
                <mat-label>Réaliser le </mat-label>
                <div class="card-description">{{ loadedSell.createdAt| date:'medium':'LOCALE_ID':'fr'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>