<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="content-center">
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="card-header text-center">
                            <div class="logo-container">
                                <img src="assets/img/now-logo.png" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons" style="width: fit-content;">email</i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="Email..." (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div  *ngIf="email.touched && email.invalid">
                                    <h5 class="text-danger" *ngIf="email.errors.required"><small>Obligatoire</small> </h5>
                                    <h5 class="text-danger" *ngIf="email.errors.pattern"><small>E-mail invalide</small> </h5>
                                    <h5 class="text-danger" *ngIf="email.errors.minlength"><small>8 caractére minimum</small> </h5>
                                    <h5 class="text-danger" *ngIf="email.errors.maxlength"><small>20 caractére maximum</small> </h5>
                                </div>

                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                                    </div>
                                    <input type="password" formControlName="password" placeholder="Password"
                                        class="form-control" (focus)="focus1=true" (blur)="focus1=false" />
                                </div>
                                <div *ngIf="password.touched && password.invalid">
                                    <h5 class="text-danger" *ngIf="password.errors.required"><small>Obligatoire</small> </h5>
                                    <h5 class="text-danger" *ngIf="password.errors.minlength"><small>8 caractére minimum</small> </h5>
                                    <h5 class="text-danger" *ngIf="password.errors.maxlength"><small>20 caractére maximum</small> </h5>
                                    </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" value="se connecter"  class="btn btn-primary btn-round btn-lg btn-block"/>
                        </div>
                        <div class="pull-left">
                            <h6><a href="/register" class="link footer-link">Créer un compte</a></h6>
                        </div>
                        <div class="pull-right">
                            <h6><a href="#pablo" class="link footer-link">Besoin d'aide?</a></h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>