<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">create</i>
            </div>
            <h4 class="card-title">Nouveau -
              <small class="category">Cours</small>
            </h4>
          </div>
          
          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Titre du cours" [formControl]="title" type="text">
                </mat-form-field>
                <ul *ngIf="title.touched && title.invalid" class="alertMessage">
                  <li *ngIf="title.errors.required">Required.</li>
                  <li *ngIf="title.errors.minlength">
                    Min de {{title.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="title.errors.maxLength">
                    Max de {{title.errors.maxLength.requiredLength}} caractéres.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <label class="label">Description du cours</label>
                <textarea class="form-control" [formControl]="description" rows="3"></textarea>
                <ul *ngIf="description.touched && description.invalid" class="alertMessage">
                  <li *ngIf="description.errors.required">Required.</li>
                  <li *ngIf="description.errors.minlength">
                    Min de {{description.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="description.errors.maxLength">
                    Max de {{description.errors.maxLength.requiredLength}} caractéres.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <mat-select placeholder="Tuteur pour ce  class-room" [formControl]="teacher" name="teacher"
                    ariaLabel="teacher[0]">
                    <mat-option *ngFor="let teacher of loadedTeachers" [value]="teacher._id">
                      {{ teacher.email }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right">Valider</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>