<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card">
          <div class="input-group datetimepicker">
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <mat-form-field>
                <mat-label>YYYY-MM-DD</mat-label>
                <input matInput [matDatepicker]="dp" (dateChange)="someMethodName($event)">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
                    <div class="card-body">
            <full-calendar
            (eventClick)="eventClick($event)"
            #fullcalendar
            *ngIf="options"
            [editable]="true" 
            [events]="events"
            [header]="options.header"
            [locales]="options.locales"
            [locale]="options.locale"
            [plugins]="options.plugins"
               ></full-calendar>
          </div>
          <label>*Faite un click sur un achat pour voir les détail.</label>
                  </div>
                
              </div>
          </div>
      </div>
</div>