<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">create</i>
            </div>
            <h4 class="card-title">Nouveau -
              <small class="category">Achat</small>
            </h4>
          </div>

          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Etudiant achteur" formControlName="student"
                      name="Student" ariaLabel="student[0]">
                      <mat-option *ngFor="let student of loadedStudents" [value]="student._id">
                        {{ student.email }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Cours acheter" formControlName="course"
                      name="Course" ariaLabel="course[0]">
                      <mat-option *ngFor="let course of loadedCourses" [value]="course._id">
                        {{ course.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <button mat-raised-button type="submit" class="btn btn-rose pull-right">Valider</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>