<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">create</i>
            </div>
            <h4 class="card-title">Nouveau -
              <small class="category">Class Room</small>
            </h4>
          </div>

          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h4>Infomations générale</h4>
                <div class="form-group">
                  <label class="label">Titre du class-room</label>
                  <mat-form-field class="example-full-width">
                    <input matInput [formControl]="titre" type="text">
                  </mat-form-field>
                  <ul *ngIf="titre.touched && titre.invalid" class="alertMessage">
                    <li *ngIf="titre.errors.minlength">
                      Min de {{titre.errors.minlength.requiredLength}} caractéres.
                    </li>
                    <li *ngIf="titre.errors.maxLength">
                      Max de {{titre.errors.maxLength.requiredLength}} caractéres.
                    </li>
                    <li *ngIf="titre.errors.required">
                      Required.
                    </li>

                  </ul>
                </div>
                <div class="form-group">
                  <label class="label">Description du class-room</label>
                  <textarea class="form-control" [formControl]="description" rows="3"></textarea>
                  <ul *ngIf="description.touched && description.invalid" class="alertMessage">
                    <li *ngIf="description.errors.minlength">
                      Min de {{description.errors.minlength.requiredLength}} caractéres.
                    </li>
                    <li *ngIf="description.errors.maxLength">
                      Max de {{description.errors.maxLength.requiredLength}} caractéres.
                    </li>
                    <li *ngIf="description.errors.required">
                      Obligatoire.
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select multiple placeholder="Etudiants a invité a ce class-room" formControlName="students"
                      name="Students" ariaLabel="students[0]">
                      <mat-option *ngFor="let student of loadedStudents" [value]="student._id">
                        {{ student.email }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <ul *ngIf="students.touched && students.invalid" class="alertMessage">
                    <li *ngIf="students.errors.required">
                      Vous devez choisir au moins un participant.
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Tuteur pour ce  class-room" formControlName="tuteur" name="tuteur"
                      ariaLabel="tuteur[0]">
                      <mat-option *ngFor="let teacher of loadedTeachers" [value]="teacher._id">
                        {{ teacher.email }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <ul *ngIf="tuteur.touched && tuteur.invalid" class="alertMessage">
                    <li *ngIf="tuteur.errors.required">
                      Vous devez choisir un tuteur a ce cours.
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <h4>Date du class-room</h4>
                    <mat-form-field>
                      <mat-label>Date</mat-label>
                      <input matInput [matDatepicker]="dp" [formControl]="date">
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                    <ul *ngIf="date.touched && date.invalid" class="alertMessage">
                      <li *ngIf="date.errors.required">
                        Vous devez choisir une date a ce cours.
                      </li>
                    </ul>
                  </div>

                  <div class="form-group">
                    <div class="col-md-4">
                      <mat-label>Heure debut</mat-label>
                      <div class="ngx-timepicker-field-example">
                        <ngx-timepicker-field [defaultTime]="'00:00 PM'" #heureDebut formControlName="heureDebut"></ngx-timepicker-field>
                      </div>
                    </div>
                  </div>
      
                  <div class="form-group">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-select placeholder="Heures" formControlName="dureEnHeures" name="dureEnHeures"
                          ariaLabel="dureEnHeures[0]">
                          <mat-option *ngFor="let selected of selectedHeure" [value]="selected">
                            {{ selected }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <ul *ngIf="dureEnHeures.touched && dureEnHeures.invalid" class="alertMessage">
                        <li *ngIf="dureEnHeures.errors.required">
                          Obligatoire.
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-select placeholder="Minutes" formControlName="dureEnMinutes" name="dureEnMinutes"
                          ariaLabel="dureEnMinutes[0]">
                          <mat-option *ngFor="let selected of selectedMinutes" [value]="selected">
                            {{ selected }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <ul *ngIf="dureEnMinutes.touched && dureEnMinutes.invalid" class="alertMessage">
                        <li *ngIf="dureEnMinutes.errors.required">
                          Obligatoire.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-rose pull-right">Valider</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>