<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">web_asset</i>
            </div>
            <h4 class="card-title">Cours -
              <small class="category">{{ course.name }}</small>
            </h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <button routerLink="/courses/{{course._id}}/newContent" matTooltipPosition="before" matTooltip="Ajouter du contenu" mat-raised-button class="btn btn-primary">  
                <i class="material-icons">library_add</i> Content</button>
              
            </div>
          </div>
          <br>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6" *ngIf="course.contents.length == 0">
                Ce cours ne dispose pas de contenu a présent.
              </div>
                <div class="col-md-6" *ngFor="let content of course.contents">
                  <div class="card card-product">
                    <div class="card-header card-header-image">
                      <div *ngIf="content.mimetype==='video/mp4'" class="col-md-6">
                        <video  width="420" height="240" controls>
                          <source src={{videoUrl.apiUrl+content.location}} type="video/mp4" >
                            Votre navigateur ne supporte pas les vidéos.
                        </video>    
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="text-center">
                        <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Modifier"
                          [matTooltipPosition]="'below'" (click)="editContent(editButton)">
                          <i class="material-icons" #editButton id="{{content._id}}">edit</i>
                        </button>
                        <button mat-raised-button type="button"  (click)="deleteContent(deleteButton)" class="btn btn-danger btn-link" matTooltip="Supprimer"
                          [matTooltipPosition]="'below'" >
                          <i #deleteButton id="{{content._id}}"  class="material-icons">close</i>
                        </button>
                      </div>
                      <h4 class="card-title">{{ content.title }}</h4>
                      
                      <div class="card-description">
                        <div  matTooltip="Ouvrir dans un nouvel onglet" *ngIf="content.mimetype==='application/pdf'">
                          <a href={{videoUrl.apiUrl+content.location}}>
                            <i class="material-icons" #editButton id="{{content._id}}">picture_as_pdf</i>Voir le contenu
                          </a>
                        </div>
                        <p  matTooltip="{{content.description}}">
                          {{ content.description | summary:60 }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-md-6" *ngIf="course.contents.length> 0">
                  Ce cours dispose de {{course.contents.length}} contenu.
                </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>