<nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/presentation']" placement="bottom" ngbTooltip="Acceuil">
                Profy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/components']">
                      <i class="now-ui-icons design_app"></i>
                      <p>Components</p>
                    </a>
                </li>
                <a ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <i class="now-ui-icons files_paper" aria-hidden="true"></i>
                      <p>Sections</p>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="headers"><i class="now-ui-icons shopping_box"></i> Headers</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="features"><i class="now-ui-icons ui-2_settings-90"></i> Features</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="blogs"><i class="now-ui-icons text_align-left"></i> Blogs</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="teams"><i class="now-ui-icons sport_user-run"></i> Teams</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="projects"><i class="now-ui-icons education_paper"></i> Projects</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="pricing"><i class="now-ui-icons business_money-coins"></i> Pricing</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="testimonials"><i class="now-ui-icons ui-2_chat-round"></i> Testimonials</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="contact-us"><i class="now-ui-icons tech_mobile"></i> Contacts</a>
                    </div>
                </a>
                <a ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>
                      <i class="now-ui-icons design_image" aria-hidden="true"></i>
                      <p>Examples</p>
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['/examples/aboutus']"><i class="now-ui-icons business_bulb-63"></i> About-us</a>
                        <a class="dropdown-item" [routerLink]="['/examples/blogpost']"><i class="now-ui-icons text_align-left"></i> Blog Post</a>
                        <a class="dropdown-item" [routerLink]="['/examples/blogposts']"><i class="now-ui-icons design_bullet-list-67"></i> Blog Posts</a>
                        <a class="dropdown-item" [routerLink]="['/examples/contactus']"><i class="now-ui-icons location_pin"></i> Contact Us</a>
                        <a class="dropdown-item" [routerLink]="['/examples/landing']"><i class="now-ui-icons education_paper"></i> Landing Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/login']">  <i class="now-ui-icons users_circle-08"></i> Login Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/pricing']"><i class="now-ui-icons business_money-coins"></i>&nbsp; Pricing</a>
                        <a class="dropdown-item" [routerLink]="['/examples/ecommerce']">  <i class="now-ui-icons shopping_shop"></i> Ecommerce Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/productpage']"><i class="now-ui-icons shopping_bag-16"></i> Product Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/profile']"><i class="now-ui-icons users_single-02"></i> Profile Page</a>
                        <a class="dropdown-item" [routerLink]="['/examples/register']"><i class="now-ui-icons tech_mobile"></i> Signup Page</a>
                    </div>
                </a>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular">
                       <p>Buy now</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
