<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">menu_book</i>
            </div>
            <h4 class="card-title">Nos Cours</h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <!-- <button routerLink="/courses/new" matTooltipPosition="before" matTooltip="Create new course" mat-raised-button class="btn btn-primary">  
                <i class="material-icons">create</i> Nouveau</button> -->
              <mat-form-field>
                <input matInput type="text" matTooltipPosition="before" matTooltip="Filtrer par nom"
                  placeholder="Rechercher..."  (keyup)="updateFilter($event)" />
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">
                
            <ngx-datatable #table [rows]=" temp " class="material expandable" cellspacing="0" width="100%" style="width:100%" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="100"  [limit]="5" [rowHeight]="50" [externalPaging]="false"
              rowIndex="rowIndex" >

              <ngx-datatable-column name="Date d'ajout" prop="createdAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdAt | date:'longDate':'LOCALE_ID':'fr'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Titre " prop="name" [sortable]="true">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                  <div matTooltip="{{row.name}}">
                  {{row.name  | summary:15 }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Description"  [minWidth]="230"  prop="description" [sortable]="true">
                <ng-template let-row="row"  ngx-datatable-cell-template>
                  <div matTooltip="{{row.description}}">
                  {{ row.description | summary:30 }}
                </div>
                </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column name="chapitres" prop="contents.length">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.contents.length}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Tuteur" prop="teacher.userName">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.teacher.userName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a (click)="modifyCourse(modifyButton)"
                  #modifyButton id="{{row._id}}" matTooltipPosition="before"
                    matTooltip="Modifier la formation" class="btn btn-link btn-info btn-just-icon edit">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="visualizeCourse(editButton)"
                  #editButton id="{{row._id}}" matTooltipPosition="before"
                    matTooltip="Visualiser la formation" class="btn btn-link btn-warning btn-just-icon edit">
                    <i class="material-icons">present_to_all</i>
                  </a>
                  <a (click)="deleteCourse(deleteButton)" id="{{row._id}}" #deleteButton matTooltipPosition="before"
                    matTooltip="Supprimer la formation" class="btn btn-link btn-danger btn-just-icon remove"><i
                      class="material-icons">close</i></a>
                </ng-template>
                
                <ngx-datatable-footer *ngIf="true">
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div style="padding: 5px 10px">
                      <div>Total: {{ rowCount }} | Nombre de pages: {{ pageSize }} | Courante: {{ curPage }} </div>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>