<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Ajout de contenu au cours -
              <small class="category"> {{ course.name }}</small>
            </h4>
          </div>
          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <mat-form-field  class="example-full-width">
                  <input matInput placeholder="Titre du contenu"  formControlName="title" type="text">
                </mat-form-field>
                <ul *ngIf="title.touched && title.invalid" class="alertMessage">
                  <li *ngIf="title.errors.minlength">
                    Min de {{title.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="title.errors.maxLength">
                    Max de {{title.errors.maxLength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="title.errors.required">
                    Required.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <textarea class="form-control"  placeholder="Description du contenu" formControlName="description" rows="3"></textarea>
                <ul *ngIf="description.touched && description.invalid" class="alertMessage">
                  <li *ngIf="description.errors.minlength">
                    Min de {{description.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="description.errors.maxLength">
                    Max de {{description.errors.maxLength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="description.errors.required">
                    Required.
                  </li>
                </ul>
              </div>
              <!-- <div class="form-group">
                  <mat-form-field>
                    <ngx-mat-file-input formControlName="content"  name="content" accept="{{fileAcceptance}}" placeholder="Contenu a rajouter" ></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
              </div> -->
              <button mat-raised-button type="submit" class="btn btn-rose pull-right">Valider</button>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
