<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">grade</i>
            </div>
            <h4 class="card-title">Nos Formateurs:</h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <button routerLink="/enseignants/new" matTooltipPosition="before" matTooltip="Create new administrator"
                mat-raised-button class="btn btn-primary">
                <i class="material-icons">create</i> Nouveau</button>
              <mat-form-field>
                <input matInput type="text" matTooltipPosition="before" matTooltip="Filtrer par email"
                  placeholder="Rechercher..." (keyup)="updateFilter($event)" />
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">

            <ngx-datatable #table [rows]="temp" class="material expandable" cellspacing="0" width="100%"
              style="width:100%" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="100" [sortType]="'multi'"
              [limit]="5" [rowHeight]="50" [externalPaging]="false" rowIndex="rowIndex"
              [sorts]="[{prop:'createdAt', dir:'desc'}]">

              <ngx-datatable-column name="createdAt" prop="createdAt" [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Date d'ajout
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdAt | date:'longDate':'LOCALE_ID':'fr'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Email" [minWidth]="230" prop="email" [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                  E-mail
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.email}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [minWidth]="230" name="bio" prop="bio" [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Biographie
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.bio | summary:30 }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="userName">
                <ng-template let-column="column" ngx-datatable-header-template>
                  User-Name
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.userName}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Status">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Desactiver/Activer
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template class="statusButton">
                  <a (click)="changeStatus(statusButton)" #statusButton id="{{row._id}}"
                    class="btn btn-link btn-info btn-just-icon">
                    <i *ngIf="row.status" matTooltip="Desactiver cet admin" matTooltipPosition="before"
                      style="font-size: 1.5em" class="material-icons">toggle_on</i>
                    <i *ngIf="!row.status" matTooltip="Actier cet admin" matTooltipPosition="before"
                      style="font-size: 1.5em" class="material-icons">toggle_off</i>
                  </a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions">
                <ng-template let-column="column" class="text-right" ngx-datatable-header-template>
                  Actions
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a #editButton (click)="editEnseignant(editButton)" id="{{row._id}}" matTooltipPosition="before"
                    matTooltip="Update this" class="btn btn-link btn-warning btn-just-icon edit"><i
                      class="material-icons">dvr</i></a>
                  <a (click)="deleteEnseignant(deleteButton)" id="{{row._id}}" #deleteButton matTooltipPosition="before"
                    matTooltip="Delete admin" class="btn btn-link btn-danger btn-just-icon remove"><i
                      class="material-icons">close</i></a>

                </ng-template>
                <ngx-datatable-footer *ngIf="true">
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div style="padding: 5px 10px">
                      <div>Rows: {{ rowCount }} | Size: {{ pageSize }} | Current: {{ curPage }} </div>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable-column>
              
            </ngx-datatable>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>