<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Nouveau -
              <small class="category">Abonnement</small>
            </h4>
          </div>
          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label class="label">Name</label>
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="title" type="text">
                </mat-form-field>
                <ul *ngIf="title.touched && title.invalid" class="alertMessage">
                  <li *ngIf="title.errors.minlength">
                    Min de {{title.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="title.errors.maxLength">
                    Max de {{title.errors.maxLength.requiredLength}} caractéres.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <label class="label">Description</label>
                <textarea class="form-control" [formControl]="description" rows="3"></textarea>
                <ul *ngIf="description.touched && description.invalid" class="alertMessage">
                  <li *ngIf="description.errors.minlength">
                    Min de {{description.errors.minlength.requiredLength}} caractéres.
                  </li>
                  <li *ngIf="description.errors.maxLength">
                    Max de {{description.errors.maxLength.requiredLength}} caractéres.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                  <mat-form-field>
                    <mat-select placeholder="Duree de l'Abonnement" formControlName="dureeAbonnement" name="dureeAbonnement"
                      ariaLabel="dureeAbonnement[0]">
                      <mat-option *ngFor="let element of dureeAbonnements" [value]="element.value">
                        {{ element.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <ul *ngIf="dureeAbonnement.touched && dureeAbonnement.invalid" class="alertMessage">
                    <li *ngIf="dureeAbonnement.errors.required">
                      Obligatoire.
                    </li>
                  </ul>
              </div>
              <div class="form-group">
                <label>Prix(EUR)</label>
                <br>
                <nouislider [connect]="true" [min]="0" [max]="499" [step]="1" [(ngModel)]="simpleSlider" formControlName="cost" [tooltips]="true" class="slider"></nouislider>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right">Valider</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>