<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="rose" id="wizardProfile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
              <div class="card-header text-center">
                <h3 class="card-title">
                  Build Your Profile
                </h3>
                <h5 class="card-description">This information will let us know more about you.</h5>
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                      Account
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                      Address
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="about">
                    <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                    <div class="row justify-content-center">
                      <div class="col-sm-4">
                        <div class="picture-container">
                          <div class="picture">
                            <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview"
                              title="" />
                            <input type="file" accept="{{imageAcceptance}}"  title="wizardPicture"  name="wizardpicture"
                               id="wizardPicture" (change)="onFileSelect($event)">
                          </div>
                          <h6 class="description">Choose Picture</h6>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">portrait</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input type="text" name="userName" matInput id="userName" placeholder="User Name"
                              formControlName="userName" value="{{ administrator.userName}}">
                          </mat-form-field>
                        </div>
                        <div *ngIf="userName.invalid && userName.touched" class="col-sm-12">
                          <label class="col-sm-12 text-danger" *ngIf="userName.errors.required">Obligatoire. </label>
                          <label class="col-sm-12 text-danger" *ngIf="userName.errors.minlength"> Min
                            {{ userName.errors.minlength.requiredLength }} chars </label>
                          <label class="col-sm-12 text-danger" *ngIf="userName.errors.maxlength"> Max
                            {{ userName.errors.maxlength.requiredLength }} chars </label>
                        </div>
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input type="text" name="firstname" matInput id="firstName" placeholder="First Name"
                              formControlName="firstName">
                          </mat-form-field>
                        </div>
                        <div *ngIf="firstName.invalid && firstName.touched" class="col-sm-12">
                          <label class="col-sm-12 text-danger" *ngIf="firstName.errors.required">Obligatoire. </label>
                          <label class="col-sm-12 text-danger" *ngIf="firstName.errors.minlength"> Min
                            {{ firstName.errors.minlength.requiredLength }} chars </label>
                          <label class="col-sm-12 text-danger" *ngIf="firstName.errors.maxlength"> Max
                            {{ firstName.errors.maxlength.requiredLength }} chars </label>
                        </div>
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">record_voice_over</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width has-label">
                            <input type="text" name="lastname" matInput id="lastName" placeholder="last Name"
                              formControlName="lastName">
                          </mat-form-field>
                        </div>
                        <div *ngIf="lastName.invalid && lastName.touched" class="col-sm-12">
                          <label class="col-sm-12 text-danger" *ngIf="lastName.errors.required">Obligatoire. </label>
                          <label class="col-sm-12 text-danger" *ngIf="lastName.errors.minlength"> Min
                            {{ lastName.errors.minlength.requiredLength }} chars </label>
                          <label class="col-sm-12 text-danger" *ngIf="lastName.errors.maxlength"> Max
                            {{ lastName.errors.maxlength.requiredLength }} chars </label>
                        </div>

                      </div>
                      <div class="col-lg-10 mt-3">
                        <label>Bio</label>
                        <div class="form-group">
                          <textarea class="form-control" rows="3" placeholder="Tell us more about you"
                            formControlName="bio" id="bio"></textarea>
                          <div *ngIf="bio.invalid && bio.touched" class="col-sm-12">
                            <label class="col-sm-12 text-danger" *ngIf="bio.errors.required">Obligatoire. </label>
                            <label class="col-sm-12 text-danger" *ngIf="bio.errors.minlength"> Min
                              {{ bio.errors.minlength.requiredLength }} chars. </label>
                            <label class="col-sm-12 text-danger" *ngIf="bio.errors.maxlength"> Max
                              {{ bio.errors.maxlength.requiredLength }} chars. </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="account">
                    <h5 class="info-text">Password update.</h5>
                    <div class="row justify-content-center">
                      <div class="col-lg-10">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">New password</label>
                              <input type="password" class="form-control" formControlName="newPassword" id="newPassword">
                              <ul *ngIf="newPassword.touched && newPassword.invalid" class="alertMessage">
                                <li *ngIf="newPassword.errors.required">
                                  New password is required!
                                </li>
                                <li *ngIf="newPassword.errors.minlength">
                                  New password should be a minimum of
                                  {{ newPassword.errors.minlength.requiredLength }} chars.
                                </li>
                                <li *ngIf="newPassword.errors.pattern">
                                  New password should contain at least: Uppercase,
                                  lowercase and numbers.
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="bmd-label-floating">Re-type password </label>
                              <input type="password" class="form-control" formControlName="confirmedPassword"
                                id="confirmedPassword">
                                <ul *ngIf="confirmedPassword.touched && confirmedPassword.invalid" class="alertMessage">
                                  <li *ngIf="confirmedPassword.errors.required">
                                    Required.
                                  </li>
                                  </ul>
                              <div *ngIf="form.invalid && form.errors?.passwordsShouldMatch" class="alert alert-danger">
                                Passwords do not match.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="address">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> Where do you live? </h5>
                      </div>
                      <div class="col-sm-7">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street Name" id="streetName"
                            formControlName="streetName">
                        </mat-form-field>
                        <div *ngIf="streetName.invalid && streetName.touched" class="col-sm-12">
                          <label class="col-sm-12 text-danger" *ngIf="streetName.errors.required">Obligatoire. </label>
                          <label class="col-sm-12 text-danger" *ngIf="streetName.errors.minlength"> Min
                            {{ streetName.errors.minlength.requiredLength }} chars. </label>
                          <label class="col-sm-12 text-danger" *ngIf="streetName.errors.maxlength"> Max
                            {{ streetName.errors.maxlength.requiredLength }} chars. </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="Street No." id="streetNumber"
                            formControlName="streetNumber">
                        </mat-form-field>
                        <div *ngIf="streetNumber.invalid && streetNumber.touched" class="col-sm-12">
                          <label class="col-sm-12 text-danger" *ngIf="streetNumber.errors.pattern"> ce n'est pas un numéro de rue valide </label>
                          <label class="col-sm-12 text-danger" *ngIf="streetNumber.errors.required">Obligatoire. </label>

                        </div>
                      </div>
                      <div class="col-sm-5">
                        <mat-form-field>
                          <mat-select placeholder="City name" name="city" formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city.value">
                              {{ city.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                  <input type="submit" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish"
                    [disabled]="!form.valid" style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>