<div class="page-header section-image">
    <div class="page-header-image" style="background-image:url(assets/img/bg18.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-2_sound-wave"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Marketing</h5>
                            <p class="description">
                                We've created the marketing campaign of the website. It was a very interesting collaboration.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="now-ui-icons media-1_button-pause"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Fully Coded in HTML5</h5>
                            <p class="description">
                                We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-info">
                            <i class="now-ui-icons users_single-02"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Built Audience</h5>
                            <p class="description">
                                There is also a Fully Customizable CMS Admin Dashboard for this product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto">
                    <div class="card card-signup">
                        <div class="card-body">
                            <h4 class="card-title text-center">Créer un compte</h4>
                            <div class="social text-center">
                                <!-- <button class="btn btn-icon btn-round btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn btn-icon btn-round btn-dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </button> -->
                                <button class="btn btn-icon btn-round btn-facebook">
                                    <i class="fa fa-facebook"> </i>
                                </button>
                                <h5 class="card-description"> ou a l'ancienne </h5>
                            </div>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="now-ui-icons ui-1_email-85"></i></span>
                                    </div>
                                      <input type="text" formControlName="email"  class="form-control" placeholder="Email..." (focus)="focus2=true" (blur)="focus2=false">
                                  </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                  </div>
                                    <input type="text" name="somethingAutofillDoesntKnow" autocomplete="doNotAutoComplete"  formControlName="userName" class="form-control" placeholder="nom d'utilisateur..." (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="input-group" formControlName="email" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="now-ui-icons text_caps-small"></i></span>
                                  </div>
                                    <input type="password" autocomplete="new-password"  formControlName="password" placeholder="Mot de passe..." class="form-control" (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                                
                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox">
                                        <span class="form-check-sign"></span>
                                        J'accepte 
                                        <a (click)="open(Notice, '', '')">Les Conditions</a> d'utilisation.
                                        <ng-template #Notice let-c="close" let-d="dismiss">
                                            <div class="modal-header">
                                                <button type="button" class="close" (click)="d('Cross click')">
                                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                                </button>
                                                <h5 class="modal-title" id="myModalLabel">How Do You Become an Affiliate?</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="instruction">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong>1. Register</strong>
                                                            <p class="description">The first step is to create an account at
                                                                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="picture">
                                                                <img src="assets/img/pricing1.jpg" alt="Thumbnail Image" class="rounded img-raised">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="instruction">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <strong>2. Apply</strong>
                                                            <p class="description">The first step is to create an account at
                                                                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="picture">
                                                                <img src="assets/img/project9.jpg" alt="Thumbnail Image" class="rounded img-raised">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>If you have more questions, don't hesitate to contact us or send us a tweet @creativetim. We're here to help!</p>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-info btn-round"(click)="c('Close click')">Sounds good!</button>
                                            </div>
                                          </ng-template>
                                          
                                    </label>
                                </div>
                                <div class="card-footer text-center">
                                    <input type="submit" value="Valider"  class="btn btn-primary btn-round btn-lg"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
