<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">class</i>
            </div>
            <h4 class="card-title">Nos Class-Rooms</h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <button routerLink="/classrooms/nouveau" matTooltipPosition="before" matTooltip="Create new course" mat-raised-button class="btn btn-primary">  
                <i class="material-icons">create</i> Nouveau</button>
              <mat-form-field>
                <input matInput type="text" matTooltipPosition="before" matTooltip="Filtrer par Description ou Titre."
                  placeholder="Rechercher..."  (keyup)="updateFilter($event)" />
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">
                
            <ngx-datatable #table [rows]=" temp " class="material expandable" cellspacing="0" width="100%" style="width:100%" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="100" [sortType]="'multi'" [limit]="5" [rowHeight]="50" [externalPaging]="false"
              rowIndex="rowIndex" [sorts]="[{prop:'createdAt', dir:'desc'}]">

              <ngx-datatable-column name="createdAt" prop="row.createdAt" [sortable]="true">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Date création
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.createdAt | date:'longDate':'LOCALE_ID':'fr'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="name"  prop="row.titre"  >
                <ng-template let-column="column"  ngx-datatable-header-template>
                  Titre
                </ng-template>
                <ng-template let-row="row"  ngx-datatable-cell-template>
                  <div matTooltip="{{row.name}}">
                  {{row.titre  | summary:15 }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="description"  [minWidth]="230"  prop="row.description">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Description
                </ng-template>
                <ng-template let-row="row"  ngx-datatable-cell-template>
                  <div matTooltip="{{row.description}}">
                  {{ row.description | summary:30 }}
                </div>
                </ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column name="contents">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Inscriptions
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.students.length}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="userName">
                <ng-template let-column="column" ngx-datatable-header-template>
                  Tuteur
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.tuteur.userName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions">
                <ng-template let-column="column" class="text-right" ngx-datatable-header-template>
                  Opérations
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a (click)="modifyClassroom(modifyButton)"
                  #modifyButton id="{{row._id}}" matTooltipPosition="before"
                    matTooltip="Modifier ce cours" class="btn btn-link btn-info btn-just-icon edit">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="showClassroom(showButton)"
                  #showButton id="{{row._id}}" matTooltipPosition="before"
                    matTooltip="Visualiser le cours" class="btn btn-link btn-warning btn-just-icon edit">
                    <i class="material-icons">present_to_all</i>
                  </a>
                  <a (click)="deleteClassRoom(deleteButton)" id="{{row._id}}" #deleteButton matTooltipPosition="before"
                    matTooltip="Supprimer le classroom" class="btn btn-link btn-danger btn-just-icon remove"><i
                      class="material-icons">close</i></a>
                </ng-template>
                
                <ngx-datatable-footer *ngIf="true">
                  <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset"
                    let-isVisible="isVisible">
                    <div style="padding: 5px 10px">
                      <div>Total: {{ rowCount }} | Nombre de pages: {{ pageSize }} | Courante: {{ curPage }} </div>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                      [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                      [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                      [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                    </datatable-pager>
                  </ng-template>
                </ngx-datatable-footer>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>