<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_offer</i>
            </div>
            <h4 class="card-title">Nos Abonnements</h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <button routerLink="/subscribtions/new" matTooltipPosition="before" matTooltip="Créer une nouvelle catégorie de souscription"
                mat-raised-button class="btn btn-primary">
                <i class="material-icons">create</i> Nouveau</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let abonnement of abonnements">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <p class="card-category">{{ abonnement.name }}</p>
                    <h3 class="card-title" matTooltip="{{ abonnement.description }}">{{ abonnement.description | summary:40 }}</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <mat-label>Price:</mat-label>
                      {{ abonnement.cost }}
                      <i class="material-icons">euro</i>
                    </div>
                    <div class="text-center">
                      <button mat-raised-button type="button"(click)="editAbonnement(editButton)" class="btn btn-success btn-link" matTooltip="Modifier"
                        [matTooltipPosition]="'below'">
                        <i #editButton id="{{abonnement._id}}"class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" (click)="deleteAbonnement(deleteButton)"
                        class="btn btn-danger btn-link" matTooltip="Supprimer" [matTooltipPosition]="'below'">
                        <i #deleteButton id="{{abonnement._id}}" class="material-icons">close</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>