<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Profile -
              <small class="category">Mes informations</small>
            </h4>
          </div>
          <div class="card-body">
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>