<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">create</i>
            </div>
            <h4 class="card-title">New -
              <small class="category">Etudiant</small>
            </h4>
          </div>
          
          <div class="card-body">
            <div class="col-md-8 mr-auto ml-auto">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <label class="label">Etudiant username</label>
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="userName" type="text">
                </mat-form-field>
                <ul *ngIf="userName.touched && userName.invalid" class="alertMessage">
                  <li *ngIf="userName.errors.minlength">
                    Min of {{userName.errors.minlength.requiredLength}} chars.
                  </li>
                  <li *ngIf="userName.errors.maxLength">
                    Max of {{userName.errors.maxLength.requiredLength}} chars.
                  </li>
                </ul>
              </div>
              <div class="form-group">
                <label class="label">Etudiant e-mail</label>
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="email" type="email">
                </mat-form-field>
                <ul *ngIf="email.touched && email.invalid" class="alertMessage">
                  <li *ngIf="email.errors.minlength">
                    Min of {{email.errors.minlength.requiredLength}} chars.
                  </li>
                  <li *ngIf="email.errors.maxLength">
                    Max of {{email.errors.maxLength.requiredLength}} chars.
                  </li>
                </ul>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>