<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">web_asset</i>
            </div>
            <h4 class="card-title">Cours -
              <small class="category">{{ classRoomLoaded.titre }}</small>
            </h4>
          </div>
          <div class="toolbar">
            <div class="col-md-2 ml-auto">
              <button (click)="modifyClassroom()" matTooltipPosition="before" matTooltip="Create new course"
                mat-raised-button class="btn btn-primary">
                <i class="material-icons">create</i> Modifier</button>
            </div>
          </div>
          <br>
          <div class="card-body">
            <h4>Détails du classroom</h4>
            <mat-label>Date</mat-label>
            <div class="card-description">{{ classRoomLoaded.date | date:'fullDate':'+0200':'fr'}}
              vers <strong>{{ classRoomLoaded.heureDebut}}</strong> dure <strong>{{ classRoomLoaded.dureEnHeures}}</strong> Heures <strong>{{ classRoomLoaded.dureEnMinutes}}</strong>Minutes.
            </div>
            <mat-label>Description</mat-label>
            <div class="card-description">{{ classRoomLoaded.description }} </div>
            <mat-label>Tuteur</mat-label>
            <div class="card-description">{{ classRoomLoaded.tuteur.userName }} </div>
            <br>
            <h4>Etudiants inscrit a ce class room</h4>
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>User Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of classRoomLoaded.students">
                    <td>{{ student.userName }}</td>
                    <td>{{ student.email }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>