<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Mot de passe oublier</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input
                      placeholder="E-mail"
                      formControlName="email"
                      id="email"
                      type="email"
                      class="form-control"
                    />
                    <br />
                  </div>
                  <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                    <div *ngIf="email.errors.required">Obligatoire.</div>
                    <div *ngIf="email.errors.minlength">Min de {{ email.errors.minlength.requiredLength }} caractéres.</div>
                    <div *ngIf="email.errors.pattern">Format de l'email invalide.</div>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <input
                  type="submit"
                  class="btn btn-rose btn-link btn-lg"
                  [disabled]="!form.valid"
                  value="Envoyer"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container"></div>
    </footer>
  </div>
</div>
