<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <!-- Card Started Here -->
        <div class="card">
          <!-- Header -->
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">create</i>
            </div>
            <h4 class="card-title"> Nouveau Admniistrateur</h4>
          </div>
          <!-- Body -->
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()"class="form-horizontal">
              <div class="row justify-content-center">
                <!-- Email Feild -->
                <label class="col-sm-2 col-form-label">
                  <i class="material-icons">email</i>
                </label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput 
                    placeholder="Email" 
                    type="text"
                    class="form-control"
                    name="email"
                    formControlName="email" 
                    id="E-mail">
                  </mat-form-field>
                  <div *ngIf="email.invalid && email.touched"
                    class="alertMessage col-sm-12">
                    <label class="col-sm-3 alertMessage" *ngIf="email.errors.required">Obligatoire </label>
                    <label class="col-sm-3 alertMessage" *ngIf="email.errors.minlength"> Min de {{ email.errors.minlength.requiredLength }} caractéres. </label>
                    <label class="col-sm-3 alertMessage" *ngIf="email.errors.maxlength"> Max {{ email.errors.maxlength.requiredLength }} caractéres. </label>
                    <label class="col-sm-3 alertMessage" *ngIf="email.errors.pattern"> Format de l'email est invalide.</label>
                  </div>
                </div>
                <!-- User Name Feild -->
                <label class="col-sm-2 col-form-label">
                  <i class="material-icons">person</i>
                </label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput 
                    class="form-control"
                    formControlName="userName"
                    id="userName"
                    type="text"
                    placeholder="User-Name"
                    >
                  </mat-form-field>
                  <div *ngIf="userName.touched && userName.invalid"
                    class="alertMessage col-sm-12">
                    <label class="col-sm-3 alertMessage" *ngIf="userName.errors.minlength"> Min de {{ userName.errors.minlength.requiredLength }} caractéres. </label>
                    <label class="col-sm-3 alertMessage" *ngIf="userName.errors.maxLength"> Max de {{ userName.errors.maxLength.requiredLength }} caractéres. </label>
                    <label class="col-sm-3 alertMessage" *ngIf="userName.errors.required"> Obligatoire. </label>
                  </div>
                </div>
                <!-- Company Feild -->
                <!-- <label class="col-sm-2 col-form-label">
                  <i class="material-icons">business</i>
                </label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" disabled value="WebiLearn">
                  </mat-form-field>
                </div> -->
              </div>
              <!-- footer -->
              <div class="card-footer ">
                <div class="ml-auto">
                  <button mat-raised-button [disabled]="!form.valid||!form.touched" type="submit" class="btn btn-fill btn-rose">Envoyer</button>
                </div>
                </div>
            </form>
          </div>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>