<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Modification du MDP</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="New password"
                      formControlName="newPassword"
                      id="newPassword"
                    />
                  </div>
                  <div>
                    <ul *ngIf="newPassword.touched && newPassword.invalid" class="alertMessage">
                      <li *ngIf="newPassword.errors.required">Obligatoire.</li>
                      <li *ngIf="newPassword.errors.minlength">Min de {{ newPassword.errors.minlength.requiredLength }} caractéres.</li>
                      <li *ngIf="newPassword.errors.maxlength">Max {{ newPassword.errors.maxlength.requiredLength }} caractéres.</li>
                      <li *ngIf="newPassword.errors.pattern">Un caractére spécial, chiffre et lettres.</li>
                    </ul>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">cached</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password confirmation"
                      formControlName="confirmedPassword"
                      id="confirmedPassword"
                    />
                  </div>
                  <div>
                    <ul *ngIf="confirmedPassword.touched && confirmedPassword.invalid" class="alertMessage">
                      <li *ngIf="confirmedPassword.errors.required">Obligatoires.</li>
                    </ul>
                  </div>
                </span>
              </div>
              <div *ngIf="form.invalid && form.errors?.passwordsShouldMatch" class="alert alert-danger">Saisie non identique.</div>
              <div class="card-footer justify-content-center">
                <input
                  type="submit"
                  class="btn btn-rose btn-link btn-lg"
                  [disabled]="!form.valid"
                  value="Changer"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
