<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Connexion</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input
                      placeholder="E-mail"
                      formControlName="email"
                      id="email"
                      type="email"
                      class="form-control"
                    />
                    <br />
                  </div>
                  <div *ngIf="email.invalid && email.touched"
                    class="alert alert-danger">
                    <div *ngIf="email.errors.required">Obligatoire.</div>
                    <div *ngIf="email.errors.minlength">
                      Min de {{ email.errors.minlength.requiredLength }} caractéres.
                    </div>
                    <div *ngIf="email.errors.maxlength">
                      Max de {{ email.errors.maxlength.requiredLength }} caractéres.
                    </div>
                    <div *ngIf="email.errors.pattern">
                      Format invalide.
                    </div>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Mot de passe"
                      formControlName="password"
                      id="password"
                      type="password"
                      class="form-control"
                    />
                  </div>
                  <div *ngIf="password.touched && password.invalid"
                    class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Obligatoire
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Min de {{ password.errors.minlength.requiredLength }} caractéres.
                    </div>
                    <div *ngIf="password.errors.maxLength">
                      Max de {{ password.errors.maxlength.requiredLength }} caractéres.
                    </div>
                    <div *ngIf="password.errors.pattern">
                      Doit contentir une lettre, chiffre et caractére spécial.
                    </div>
                  </div>
                </span>
              </div>

              <div class="card-footer justify-content-center">
                <input
                  type="submit"
                  class="btn btn-rose btn-link btn-lg"
                  [disabled]="!form.valid"
                  value="Se connecter"
                />
                <a routerLink="/admin/recover">Mot de passe oublié?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container"></div>
    </footer>
  </div>
</div>
