<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Profile -
              <small class="category">Modifier mes informations</small>
            </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <!-- <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Company(disabled)</label>
                    <input type="text" class="form-control" disabled
                      value="{{administrator.company}}">
                  </div>
                </div> -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control" value="{{administrator.userName}}"
                      formControlName="userName" id="userName">
                    <ul *ngIf="userName.touched && userName.invalid" class="alertMessage">
                      <li *ngIf="userName.errors.minlength">
                        Min de {{userName.errors.minlength.requiredLength}} caractéres.
                      </li>
                      <li *ngIf="userName.errors.maxLength">
                        Max de {{userName.errors.maxLength.requiredLength}} caractéres.
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address(disabled)</label>
                    <input type="email" class="form-control" disabled value="{{administrator.email}}"
                      formControlName="email" id="email">
                    <ul *ngIf="email.invalid && email.touched" class="alertMessage">
                      <li *ngIf="email.errors.pattern">Email must have a valid format.</li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Prénom</label>
                    <input type="text" class="form-control" value="{{administrator.firstName}}"
                      formControlName="firstName" id="firstName">
                    <ul *ngIf="firstName.touched && firstName.invalid
                      " class="alertMessage">
                      <li *ngIf="firstName.errors.minlength">
                        Min de {{firstName.errors.minlength.requiredLength}} caractéres.
                      </li>
                      <li *ngIf="firstName.errors.maxLength">
                        Max de {{firstName.errors.maxLength.requiredLength}} caractéres.
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nom de famille</label>
                    <input type="text" class="form-control" value="{{administrator.lastName}}"
                      formControlName="lastName" id="lastName">
                    <ul *ngIf="lastName.touched && lastName.invalid" class="alertMessage">
                      <li *ngIf="lastName.errors.minlength">
                        Min de {{lastName.errors.minlength.requiredLength}} caractéres.
                      </li>
                      <li *ngIf="lastName.errors.maxLength">
                        Max de {{lastName.errors.maxLength.requiredLength}} caractéres.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Biographie</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="3" value="{{administrator.bio}}"
                        formControlName="bio" id="bio">
                        ></textarea>
                      <ul *ngIf="bio.touched && bio.invalid" class="alertMessage">
                        <li *ngIf="bio.errors.minlength">
                          Min de {{bio.errors.minlength.requiredLength}} caractéres.
                        </li>
                        <li *ngIf="bio.errors.maxLength">
                          Max de {{bio.errors.maxLength.requiredLength}} caractéres.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" [disabled]="!form.valid" class="btn btn-rose pull-right">Mettre a jour</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img src="{{imagesUrl.apiUrl+currentUser.profileImage}}" alt="{{currentUser.profileImage}}" *ngIf="currentUser.profileImage"/>
              <img class="img" src="./assets/img/faces/marc.jpg" *ngIf="!currentUser.profileImage" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Mot de passe</h6>
            <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Ancien mot de passe</label>
                  <input type="password" class="form-control" formControlName="password" id="password">
                  <ul *ngIf="password.touched && password.invalid" class="alertMessage">
                  <li *ngIf="password.errors.required">
                    Mot de passe requis.
                  </li>
                  <li *ngIf="password.errors.minlength">
                    Min de
                    {{ password.errors.minlength.requiredLength }} caractéres.
                  </li>
                  <li *ngIf="password.errors.pattern">
                    Doit contentir une lettre un chiffre et un caractére spécial.
                  </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nouveau mot de passe</label>
                  <input type="password" class="form-control" formControlName="newPassword" id="newPassword">
                  <ul *ngIf="newPassword.touched && newPassword.invalid" class="alertMessage">
                    <li *ngIf="newPassword.errors.required">
                      Nouveau mot de passe requis!
                    </li>
                    <li *ngIf="newPassword.errors.minlength">
                      Min de 
                      {{ newPassword.errors.minlength.requiredLength }} caractéres.
                    </li>
                    <li *ngIf="newPassword.errors.pattern">
                      Doit contentir une lettre un chiffre et un caractére spécial.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Re-type password </label>
                  <input type="password" class="form-control" formControlName="confirmedPassword"
                    id="confirmedPassword">
                    <ul *ngIf="confirmedPassword.touched && confirmedPassword.invalid" class="alertMessage">
                      <li *ngIf="confirmedPassword.errors.required">
                        confirmation obligatoire.
                      </li>
                      </ul>
                  <div *ngIf="passwordForm.invalid && passwordForm.errors?.passwordsShouldMatch" class="alert alert-danger">
                    Le nouveau mot de passe et la confirmations ne sont pas identique.
                  </div>
                </div>
              </div>
              <input
                  type="submit"
                  class="btn btn-rose btn-link btn-lg"
                  [disabled]="!passwordForm.valid"
                  value="Mettre a jour"
                />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>